/* GLOBAL */
:root {
  font-size: 62.5%;

  --text-black-primary: #1C1C1C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SCROLL */
body.dark::-webkit-scrollbar-thumb {
  background-color: #041832;
}

body {
  background: #041832 linear-gradient(236.85deg, #041832 27.26%, #3468A7 96.03%) no-repeat center/cover;

  font-family: 'Roboto', sans-serif;
  color: var(--text-black-primary);

  display: flex;
  min-height: 100vh;
}

body.dark {
  background: #375B86 linear-gradient(236.85deg, #375B86 27.26%, #6B87A9 96.03%);

  /* SCROLL */
  scrollbar-color: #041832 transparent;
}

.container {
  background-color: #ECF4FF;
  box-shadow: 0.6rem 0.6rem 0.6rem #0E1D2F;
  border-radius: 2rem;

  width: 80%;
  margin: 2rem auto;
  padding: 4rem;

  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

body.dark .container {
  background-color: #041832;
}


/* THEME TOGGLE */
#toggle-theme {
  position: absolute;
  top: 2rem;
  right: 2rem;

  display: block;

  color: rgb(248, 248, 242);
  background: transparent;
  cursor: pointer;

  width: 3rem;
  height: 3rem;
  overflow: hidden;

  border: none;
  border-radius: 50%;

  perspective: 1000px;
}

/* rotateY fixed in 0deg  */
.flipper {
  width: 100%;
  height: 100%;

  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: transform 0.5s linear;
}

/* when button:hover on light theme, rotateY goes 180deg */
#toggle-theme.light:hover .flipper {
  transform: rotateY(180deg);
}

/* if clicked, fixed rotateY by 180deg */
#toggle-theme.dark .flipper {
  transform: rotateY(180deg);
}

/* when button:hover on dark theme, rotateY goes 0deg, and looping... */
#toggle-theme.dark:hover .flipper {
  transform: rotateY(0deg);
}

.flipper span {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;
  font-size: 2.25rem;

  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;

  backface-visibility: hidden;
  transition: all 0.25s ease 0s;
}

#toggle-theme .dark-icon {
  transform: rotateY(180deg);
}

/* background change */
#toggle-theme:hover .light-icon {
  background: rgb(135, 206, 235);
  color: rgb(249, 215, 28);
}

#toggle-theme:hover .dark-icon {
  background: rgb(32, 71, 118);
  color: rgb(244, 241, 201);
}


/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body.dark header {
  color: #F6F6F6;
}

.profile {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.profile img {
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  box-shadow: 0.4rem 0.4rem 0.4rem #00000040;
}

.profile-infos {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.profile-infos h1 {
  font-size: 3rem;
  font-weight: 700;
}

.profile-infos h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

.social-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social {
  font-size: 2.5rem;
  color: #204776;
  text-decoration: none;
  transition: text-shadow 0.2s ease-in-out;
}

body.dark .social {
  color: #F6F6F6;
}

.social:hover {
  text-shadow: 0 0 2rem #204776bb;
}

body.dark .social:hover {
  text-shadow: 0 0 2rem #8abfff;
}


/* MAIN */
.projects {
  background: linear-gradient(230.65deg, #499CFE 27.49%, #9CC8FC 83.19%) no-repeat center/cover;
  box-shadow: 0.2rem 0.2rem 0.4rem #1010106B;
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
}

.social-medias h2,
.projects h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;

  margin-bottom: 2rem;
}

.projects ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul ul {
  margin: .25rem 0 0 2.5rem;
}

.projects ul li {
  list-style: none;
  font-size: 1.8rem;
}

.projects ul li span {
  font-weight: 600;
  text-decoration: underline;
}

.projects li a {
  color: var(--text-black-primary);
  text-decoration: none;
  transition: text-shadow 0.2s ease-in-out;
}

.projects li a:hover {
  text-shadow: 0 0 1rem #ffffffbb;
}